# Virtual environments
dm_env/
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# Temporary files
*.tmp
*.log